# Rainstorm .gitignore file
logs/
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Distribution / packaging
build/
dist/
*.egg-info/
.venv/
**/.venv/

# PyInstaller
*.spec
*.toml
!pyproject.toml
!packages/**/pyproject.toml
!uv.lock
!packages/**/uv.lock

# Big files
examples/*

# R files
*.Rhistory
*.RData
docs/reconstruction/local-manifest.json
